.mainWrapp .contentWrapp .postWrapp .post .thumb a:hover,
.mainWrapp .contentWrapp .postWrapp .page .thumb a:hover {
	background: none !important;
}
.mainWrapp .contentWrapp .sidebarWrapp .widget .titleWrapp  .icon {
	background: url("../images/ie6/all.png") 0 -80px no-repeat !important;
}
.mainWrapp .contentWrapp .sidebarWrapp .widget .titleWrapp  .icon:hover {
	background: url("../images/ie6/all.png") -14px -80px no-repeat !important;
}